@font-face {
    font-family: "vazir";
    src: url("assets/Vazir-Bold.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    background-color: #14235E !important;
}

* {
    cursor: default;
}

/* Page 1 Login Page START */

.Page1 {
    width: 400px;
    height: 500px;
    background-color: #0E184D;
    border-radius: 20px;
    margin: 100px auto;
    position: relative;
    display: block;
    box-shadow: 1px 1px 50px rgb(15, 15, 15);
}

.Page1TitleDiv {
    display: flex;
    margin-bottom: -100px;
}

.Page1Title {
    text-align: center;
    color: white;
    display: block;
    margin: 60px auto;
    z-index: 2;
    font-family: vazir;
}

.Page1Forms {
    width: 400px;
    display: block;
    margin-top: 90px;
}

.Page1formControl {
    width: 300px;
    height: 70px;
    position: relative;
    margin: 30px auto;
}

.Page1Label {
    display: block;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: vazir;
    font-size: 17px;
    z-index: 1;
    left: 110px;
    top: -20px;
}

.Page1Input {
    width: 200px;
    height: 30px;
    margin: 10px auto;
    position: relative;
    display: block;
    background-color: #172a77;
    /* border: 3px solid black; */
    border: 0;
    color: white;
    font-weight: bolder;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.Page1Footer {
    display: flex;
    position: relative;
}

.Page1LoginBtn {
    margin: 50px auto;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    border: 0;
    z-index: 2;
    color: white;
    background-color: #14235E;
    font-family: vazir;
    cursor: pointer;

}

.Page1LoginBtnBar {
    width: 100%;
    background-color: #22396F;
    height: 20px;
    position: absolute;
    top: 60px;
    z-index: 1;
}

.Page1HeaderEffectDiv {
    display: block;
    position: relative;
}

.box {
    --size: 70px;
    --p: 25px;
    --R: 55.9px
        /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/
    ;
    position: absolute;
    top: 0px;
    height: 100px;
    width: 400px;
    border-radius: 20px;
    z-index: 1;

    -webkit-mask:
        radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))), blue 99%, #0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
        radial-gradient(var(--R) at 50% calc(100% + var(--p)), #0000 99%, red 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
    background: linear-gradient(90deg, #22396F, #14235E);
    border: none;
}

/* Page 1 Login Page FINISH */



/* Page 2 Home Page START */

.Page2Header {
    width: 100%;
    height: 60px;
    background-color: #22396F;
    position: sticky;
    top: 0;
    z-index: 100;
}

.Page2RightMenu {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 300px;
    background-color: #0E184D;
    position: absolute;
    z-index: 101;
}

.Page2RightMenuDiv {
    position: sticky;
    top: 20px;
}

.Page2RightMenuLogo {
    height: 100px;
    width: 100px;
    margin: 20px auto;
    display: block;
}

.Page2RightMenuTitle {
    color: white;
    text-align: center;
    font-family: vazir;
    font-size: 28px;
}

.Page2RightMenuList {
    list-style-type: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Page2RightMenuListItems {
    color: white;
    margin-right: 30px;
    font-family: vazir;
    margin-bottom: 30px;
    font-size: 18px;
    border-top: 0.1px solid #14235E;
    /* border-bottom: 0.1px solid #14235E; */
    padding-top: 10px;
    transition: 1s;
    cursor: pointer;
}

.Page2RightMenuListItems:hover {
    /* background-color: #22396F; */
    font-size: 25px;
    transition: 0.5s;
    font-weight: bolder;
}

.Page2RightMenuListItemsIcons {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 50px;
}

.Page2HeaderIconsExit {
    width: 36px;
    height: 36px;
    margin-left: 50px;
    margin-top: 7px;
    cursor: pointer;
}

.Page2HeaderIconsProfile {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.Page2HeaderPageTitle {
    color: white;
    font-size: 25px;
    font-family: vazir;
    float: right;
    margin-right: 400px;
    margin-top: 10px;
    direction: rtl;
}

.Page2Middle,
.HomeWorkPage,
.AnnouncementsPage,
.LearnPage,
.ProfilePage,
.SupportPage {
    /* background-color: green; */
    width: 900px;
    height: auto;
    position: relative;
    display: block;
}

.Page2MiddleRightTopBox {
    width: 300px;
    height: 300px;
    background-color: #22396F;
    position: absolute;
    right: 0px;
    top: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
    background-image: url(assets/images/education.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.Page2MiddleRightTopBoxHeaderDiv {
    /* background-color: red; */
    align-items: center;
    text-align: center;
    font-family: vazir;
    color: white;
}

.Page2MiddleRightTopBoxHeaderTitle {
    margin-top: 10px;
}

.Page2MiddleRightTopBoxClickToUpload {
    text-align: center;
    font-family: vazir;
    color: white;
    display: block;
    margin: 175px auto;
    cursor: pointer;
}

/* .Page2MiddleRightTopBoxClickToUpload {
    text-align: center;
    font-family: vazir;
    color: white;
    width: 70px;
    display: block;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    border: 1px dashed black;
} */

.Page2MiddleLeftTopBox {
    width: 560px;
    height: 300px;
    background-color: #22396F;
    position: absolute;
    top: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
    background-image: url(assets/images/browser-window-displaying-workspace.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.Page2MiddleLeftTopBoxTitle {
    color: white;
    text-align: center;
    margin: 10px 20px;
    font-family: vazir;
    font-size: 20px;
}

.Page2MiddleLeftTopBoxSubTitle {
    color: white;
    text-align: center;
    margin: 200px 20px;
    font-family: vazir;
    cursor: pointer;
}

.Page2MiddleBottomBox {
    width: 100%;
    height: 300px;
    background-color: #22396F;
    position: absolute;
    top: 350px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
    background-image: url(assets/images/people-collaborating-with-tech-.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.Page2MiddleBottomBoxTitle {
    color: white;
    text-align: right;
    width: 500px;
    float: right;
    margin-right: 20px;
    font-family: vazir;
    margin-top: 20px;
}

.Page2MiddleBottomBoxBtn {
    position: absolute;
    bottom: 60px;
    right: 150px;
    width: 200px;
    height: 40px;
    background-color: #0E184D;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-family: vazir;
    font-size: 20px;
    cursor: pointer;
}

.Page2MiddleBottomBoxBtnImage {
    background-image: url(assets/support-white-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 40px;
    cursor: pointer;
}

.Page2MiddleBottomBoxBtnTxt {
    margin-left: 50px;
    cursor: pointer;
}

/* Page 2 Home Page FINISH */

/* Page 2 Hme Works START */
.HomeWorkPageDiv {
    margin: 0px auto;
}

.HomeWorkPageTable {
    font-family: vazir;
    border-radius: 10px;
    border: 0px !important;

}

.HomeWorkPageAddNew {
    /* background: red; */
    margin: 20px auto;
    font-family: vazir;
}

.HomeWorkPageAddNewInput {
    border: 0px;
    width: 630px;
    height: 34px;
    border-radius: 5px;
    float: right;
    padding-left: 20px;
    cursor: text;
}

.HomeWorkPageAddNewInput::placeholder {
    direction: ltr;
    text-align: center;

}

.HomeWorkPageTable tr td img {
    width: 25px;
}

.HomeWorkPageTable tr td a {
    cursor: pointer;
}

/* Page 2 Hme Works FINISH */

/* Page 2 Announcements START */

.AnnouncementsPageDiv {
    margin: 0 auto;
}

.AnnouncementsPageItemsDiv {
    background-color: white;
    width: 900px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    display: block;
    direction: rtl;
    border-radius: 10px;
    margin: 10px auto;
    font-family: vazir;
}

.AnnouncementsPageItemsDiv strong {
    color: red;
}

/* Page 2 Announcements FINISH */

/* Page 2 Learn START */

.LearnPageItem {
    color: white;
    width: 300px;
    height: 150px;
    background-color: #0E184D;
    font-family: vazir;
    text-align: center;
    margin: 200px auto;
    border-radius: 20px;
    font-size: 23px;
    justify-content: center;
    display: flex;
    box-shadow: 5px 5px 10px black, -5px -5px 10px black;
    cursor: pointer;

}

.LearnPageItem div {
    margin-top: 50px;
    cursor: pointer;

}

.LearnPageItemChooseYourDevice {
    color: white;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    /* background-color: red; */
    padding-top: 150px;
    padding-left: 7px;
}

.LearnPageItemChooseYourDeviceItemsMobile,
.LearnPageItemChooseYourDeviceItemsPC {
    background-color: #0E184D;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 20px;
    cursor: pointer;
}

.LearnPageItemChooseYourDeviceItemsPCImage {
    background-image: url(assets/learn-page/icons8-monitor-100.png);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;

}

.LearnPageItemChooseYourDeviceItemsMobileImage {
    background-image: url(assets/learn-page/icons8-smartphone-tablet-100.png);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;

}

.LearnPageItemChooseYourDeviceItemsPCTitle,
.LearnPageItemChooseYourDeviceItemsMobileTitle {
    font-family: vazir;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

}

.LearnPageItemChooseYourDevice h3 {
    font-family: vazir;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.LearnPageItemVideos {
    /* background-color: red; */
    display: flex;
    width: 100%;
    margin-top: 100px;
    flex-flow: column wrap;
}

.LearnPageItemVideosVideo {
    margin: 0 auto;
    height: 300px;
    border-radius: 20px;
    border: 10px solid #0E184D;
    box-shadow: 0px 10px 20px black;
}

.LearnPageItemVideos h3 {
    color: white;
    font-family: vazir;
    margin: 30px auto;
    box-shadow: 0px 5px 20px black;
    /* border-radius: 30px; */
    background-color: #22396F;
    width: 500px;
    height: 50px;
    padding-top: 7px;
    text-align: center;
}

/* Page 2 Learn FINISH */

/* Page 2 Profile START */
.ProfilePageDiv {
    background-color: #22396F;
    width: 400px;
    height: 550px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    display: flex;
    flex-flow: column wrap;

}

.ProfilePageDivImage {
    background-image: url(assets/profile-white-icon.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    margin: 20px auto;
}

.ProfilePagePersonNameLabel,
.ProfilePagePersonNumberLabel,
.ProfilePagePersonPasswordLabel {
    color: #fff;
    font-family: vazir;
    text-align: center;
    font-size: 20px;
}

.ProfilePagePersonNameInput,
.ProfilePagePersonNumberInput,
.ProfilePagePersonPasswordInput {
    width: 300px;
    height: 35px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #14235E;
    border: 0px;
    font-family: vazir;
    color: white;
    text-align: center;
}

.ProfilePageSubmit {
    color: white;
    font-family: vazir;
    margin: 30px auto;
    width: 200px;
    background-color: black;
    text-align: center;
    height: 40px;
    padding-top: 7px;
    border-radius: 10px;
    cursor: pointer;
}

/* Page 2 Profile FINISH */




/* Page 2 Support START */
.SupportPageDiv {
    background-color: #0E184D;
    margin: 100px auto;
    width: 500px;
    height: 300px;
    border-radius: 30px;
    position: relative;
    box-shadow: 5px 5px 20px black, -5px 5px 20px black;
}

.SupportPageBlur {
    background-image: url(assets/support-page/icons8-error-96.png);
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    filter: blur(10px);
}

.SupportPageTitle {
    position: absolute;
    color: white;
    text-align: center;
    font-family: vazir;
    top: 150px;
}

/* Page 2 Support FINISH */

/* Teachers Page START */

.TeachersPageDiv {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    background-color: #22396F;
    border-radius: 20px;
    position: relative;
    display: block;
}

.TeachersPageTabsDiv {
    width: 100%;
    height: 50px;
    background-color: #0E184D;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    color: #fff;
    font-family: vazir;
    text-align: center;
    display: flex;
    direction: rtl;

}

.TeacherPageTabs {
    width: 100%;
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.TeacherPageTabs:hover {
    background-color: #22396F;
    margin-top: 0px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s;
}

.TeacherPageTabsActive {
    background-color: #22396F;
    margin-top: 0px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s;
}

.TeachersPageAddNewPersonDiv {
    display: flex;
    position: relative;
}

.TeachersPageAddNewPersonBtn {
    width: 90%;
    margin: 10px auto;
    font-family: vazir;
}

.TeachersPageAddNewPersonFindStudent {
    display: flex;
    position: relative;
}

.TeachersPageAddNewPersonFindStudentInput {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: vazir;
    border-radius: 5px;
    cursor: text;
}

.TeachersPageAddNewPersonTableDiv {
    background-color: #f8f9fa;
    width: 720px;
    height: 430px;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: scroll;
}

.TeachersPageAddNewPersonTable {
    direction: rtl;
    font-family: vazir;

}


/* Teachers Page FINISH */

/* Homeworks Page START */

.HomeworksPageFindStudent {
    display: flex;
    position: relative;
}

.HomeworksPageFindStudentInput {
    width: 90%;
    margin: 20px auto;
    margin-bottom: 10px;
    text-align: center;
    font-family: vazir;
    border-radius: 5px;
    cursor: text;
}

.HomeworksPageTableDiv {
    background-color: #f8f9fa;
    width: 720px;
    height: 430px;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: scroll;
}

.HomeworksPageTable {
    direction: rtl;
    font-family: vazir;
}

.HomeworksPageTable a {
    cursor: copy;
}

.changeStatus {
    cursor: pointer;
}

/* Homeworks Page FINISH */

/* Announcements Page START */
.AnnouncementsPage2 {
    width: 100%;
}

.AnnouncementsPageAddNewAnnouncementsDiv {
    display: flex;
    position: relative;
}

.AnnouncementsPageAddNewAnnouncementsBtn {
    width: 90%;
    margin: 20px auto;
    font-family: vazir;
}

.AnnouncementsPageTableDiv {
    background-color: #f8f9fa;
    width: 720px;
    height: 430px;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: scroll;
}

.AnnouncementsPageTable {
    direction: rtl;
    font-family: vazir;

}

/* Announcements Page FINISH */
/* Support Page START  */

.SupportPage2 {
    width: 100%;
    display: block;
}

.SupportPage2Div {
    display: flex;
}

.SupportPage2 h1 {
    font-size: 20px;
    color: white;
    font-family: vazir;
    margin: 100px auto;
}

/* Support Page FINISH  */


/* Responsive */
/* @media only screen and (min-width: 1201px) {} */